blinker==1.9.0
click==8.3.1
deprecation==2.1.0
Flask==2.3.2
img2pdf==0.6.3
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
packaging==25.0
pdf2image==1.16.3
pikepdf==8.4.1
Pillow==9.5.0
pytesseract==0.3.13
python-docx==1.2.0
typing_extensions==4.15.0
Werkzeug==3.1.4
